/*background and font 
 * replace the bg on assets */
html {
    font-family: "Lato", sans-serif;
    background-image: url('assets/bg.jpg');
    color: white;
}
/*background darken */
body {
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
    margin: 0;
}
/* sets width of the site */
#site {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    padding-bottom: 3vh;
    max-width: 90vw;
    width: 50rem; /* max width */
}

/* TOP BAR */
#topbar {
    text-align: center;
    margin-bottom: 0.5rem;
}
#left, #right {
    display: inline-block;
    vertical-align: middle;
    padding: 1%;
}
#left {
    text-align: right;
}
/* make img rounded, still needs to have aspect ratio 1:1!! */
#left img {
    max-height: 8rem;
    border-radius: 100%;
}
#right {
    text-align: left;
}
/* title */
#right h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
/*subtitle*/
#right p {
    margin: 0;
}

/* MAIN PART */
/* third background */
#main {
    background-color: rgba(30, 25,25,0.75);
    box-sizing: border-box;
    border-radius: 5px;
}

/* navigation bar*/
#navbar {
    width: 100%;
    text-align: center;
    display: flex;
}
/* button behaviour */
.nav-button {
    width: 33%;
    padding: 0.5rem 0.1rem;

    border-bottom: solid 3px #5b4b4b;
    background-color: rgba(30,25,25,0);
    color: #AAA;
    transition: 0.15s;
}
.nav-button:hover {
    background-color: rgba(90, 75, 75, 0.75);
    color: #FFF;
    transition: 0.15s;
}
.nav-button.active {
    border-color: #FF5555;
    color: #FFF;
}

#page {
    padding-right: 3%;
    padding-left: 3%;
}
#page p, h1 {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#page a {
    color: #FF5555;
}
#page img {
    width: 100%;
}

.row img {
    float: left;
    width: 100%;
    max-width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* clearfix, avoid the image being bigger than the container */
.row:after {
    content: "";
    clear: both;
    display: table;
}

.initial-text {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    font-size: 1rem;
}
